body {
    background-color: red;
}

#picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 200px;
}

h2 {
    color: darkblue;
    text-align: center;
}

p {
    text-align: center;
}